@import "../../colors"
@import "../../fonts"


.name_title
    border: 0px
    float: left
    font-family: $font-sans
    margin: 0px auto
    padding: 0px
    width: 33%
    h1
        color: $secondary-color
        display: inline-block
        font-size: 35px
    h2
        bottom: 17px
        color: $main-color
        display: inline-block
        font-size: 15px
        position: relative
