<div class="tournament">
    <button (click)="back()"><<< Tournaments</button>
    <div class="no-tournament" *ngIf="!(Tournament)">
        No tournaments to display.
        <!-- Add a link or button to the full tournament list-->
    </div>
    <div class="tournament-view" *ngIf="Tournament">
        <h3>{{ tournamentCard.Name }}</h3>
        <table class="tournament-table">
            <thead>
                <tr>
                    <th scope="col">Winner</th>
                    <th scope="col">Loser</th>
                    <th scope="col">Round</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row-highlight" *ngFor="let match of Tournament.Matches">
                    <td>{{ match?.Winner }}</td>
                    <td *ngIf="match.Player1 != match.Winner">{{ match?.Player1 }}</td>
                    <td *ngIf="match.Player2 != match.Winner">{{ match?.Player2 }}</td>
                    <td>{{ match?.Round }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>