@import "../../colors"
@import "../../fonts"


.nav_list
    float: right
    font-family: $font-sans
    margin: 0px auto
    text-align: right
    width: 60%
    ul
        list-style: none
        li
            margin-right: 25px
            display: inline
            &:hover
                color: $secondary-color
                border-bottom: solid 1px $secondary-color