@import "../../colors"
@import "../../fonts"

.players-list
    margin: 0 auto
    h3
        font-family: $font-serif
        text-align: center

.players-list-view
    font-family: $font-sans
    th
        color: $secondary-color

.all-players-table
    text-align: left
    width: 100%
    .row-highlight
        background-color: $main-color-light
        margin-bottom: 2px
        &:hover
            background-color: $main-color-light-secondary
